service: cloudwatchAlarmsToDiscordLoop

package:
  artifact: dist/index.zip

plugins:
  - serverless-offline

provider:
  name: aws
  runtime: nodejs22.x
  memorySize: 512
  timeout: 900
  architecture: arm64
  logRetentionInDays: 60

functions:
  cloudwatchAlarmsToDiscordLoop:
    handler: index.handler
    name: cloudwatchAlarmsToDiscordLoop
    role: arn:aws:iam::987989283142:role/lambda-vpc-role
    events:
      - sns:
          arn: arn:aws:sns:${file(../../serverless-config/${opt:stage, self:provider.stage}/vpc.js):region}:987989283142:cloudwatch-alarms
    vpc:
      securityGroupIds: ${file(../../serverless-config/${opt:stage, self:provider.stage}/vpc.js):security}
      subnetIds: ${file(../../serverless-config/${opt:stage, self:provider.stage}/vpc.js):subnets}
    environment:
      SENTRY_DSN: ${env:SENTRY_DSN}
      SENTRY_ENVIRONMENT: 'cloudwatchAlarmsToDiscordLoop_${opt:stage, self:provider.stage}'