service: tdhHistoryLoop

package:
  artifact: dist/index.zip

plugins:
  - serverless-offline

provider:
  name: aws
  runtime: nodejs18.x
  memorySize: 1024
  timeout: 900
  architecture: arm64
  logRetentionInDays: 60

functions:
  tdhHistoryLoop:
    handler: index.handler
    name: tdhHistoryLoop
    description: ${env:VERSION_DESCRIPTION}
    role: arn:aws:iam::987989283142:role/lambda-vpc-role
    reservedConcurrency: 1
    events:
      - schedule: cron(30 0 * * ? *)
    vpc:
      securityGroupIds: ${file(../../serverless-config/${opt:stage, self:provider.stage}/vpc.js):security}
      subnetIds: ${file(../../serverless-config/${opt:stage, self:provider.stage}/vpc.js):subnets}
    environment:
      SENTRY_DSN: ${env:SENTRY_DSN}
      SENTRY_ENVIRONMENT: 'tdhHistoryLoop_${opt:stage, self:provider.stage}'
      TDH_HISTORY_ITERATIONS: 1

resources:
  Resources:
    TdhHistoryLoopOOMFilter:
      Type: AWS::Logs::MetricFilter
      Properties:
        LogGroupName: /aws/lambda/tdhHistoryLoop
        FilterPattern: "Runtime.OutOfMemory"
        MetricTransformations:
          - MetricNamespace: "Lambda/OOM"
            MetricName: "tdhHistoryLoop_OOMErrorCount"
            MetricValue: "1"
            DefaultValue: 0

    TdhHistoryLoopOOMAlarm:
      Type: AWS::CloudWatch::Alarm
      DependsOn: TdhHistoryLoopOOMFilter
      Properties:
        AlarmName: !Sub "${AWS::StackName}-tdhHistoryLoop-OOM"
        AlarmDescription: !Sub "Lambda tdhHistoryLoop OutOfMemory in ${AWS::Region}"
        Namespace: "Lambda/OOM"
        MetricName: "tdhHistoryLoop_OOMErrorCount"
        Statistic: Sum
        Period: 60
        EvaluationPeriods: 1
        Threshold: 1
        ComparisonOperator: GreaterThanOrEqualToThreshold
        TreatMissingData: notBreaching
        AlarmActions:
          - ${file(../../serverless-config/${opt:stage, self:provider.stage}/vpc.js):cwtopic}
        OKActions:
          - ${file(../../serverless-config/${opt:stage, self:provider.stage}/vpc.js):cwtopic}