service: subscriptionsDaily

package:
  artifact: dist/index.zip

plugins:
  - serverless-offline

provider:
  name: aws
  runtime: nodejs22.x
  memorySize: 3072
  timeout: 900
  architecture: arm64
  logRetentionInDays: 60

custom:
  disableDiscord:
    staging: true
    prod: false

functions:
  subscriptionsDaily:
    handler: index.handler
    name: subscriptionsDaily
    description: ${env:VERSION_DESCRIPTION}
    role: arn:aws:iam::987989283142:role/lambda-vpc-role
    reservedConcurrency: 1
    events:
      - schedule: cron(1 0 * * ? *)
    vpc:
      securityGroupIds: ${file(../../serverless-config/${opt:stage, self:provider.stage}/vpc.js):security}
      subnetIds: ${file(../../serverless-config/${opt:stage, self:provider.stage}/vpc.js):subnets}
    environment:
      SENTRY_DSN: ${env:SENTRY_DSN}
      SENTRY_ENVIRONMENT: 'subscriptionsDaily_${opt:stage, self:provider.stage}'
      SUBSCRIPTIONS_RESET: false
      DISABLE_DISCORD_NOTIFICATIONS: ${self:custom.disableDiscord.${opt:stage, self:provider.stage}, false}

resources:
  Resources:
    SubscriptionsDailyOOMFilter:
      Type: AWS::Logs::MetricFilter
      Properties:
        LogGroupName: /aws/lambda/subscriptionsDaily
        FilterPattern: "Runtime.OutOfMemory"
        MetricTransformations:
          - MetricNamespace: "Lambda/OOM"
            MetricName: "subscriptionsDaily_OOMErrorCount"
            MetricValue: "1"
            DefaultValue: 0

    SubscriptionsDailyOOMAlarm:
      Type: AWS::CloudWatch::Alarm
      DependsOn: SubscriptionsDailyOOMFilter
      Properties:
        AlarmName: !Sub "${AWS::StackName}-subscriptionsDaily-OOM"
        AlarmDescription: !Sub "Lambda subscriptionsDaily OutOfMemory in ${AWS::Region}"
        Namespace: "Lambda/OOM"
        MetricName: "subscriptionsDaily_OOMErrorCount"
        Statistic: Sum
        Period: 60
        EvaluationPeriods: 1
        Threshold: 1
        ComparisonOperator: GreaterThanOrEqualToThreshold
        TreatMissingData: notBreaching
        AlarmActions:
          - ${file(../../serverless-config/${opt:stage, self:provider.stage}/vpc.js):cwtopic}
        OKActions:
          - ${file(../../serverless-config/${opt:stage, self:provider.stage}/vpc.js):cwtopic}