version: '3.7'
services:
  mariadb:
    build:
      context: ./dockerfiles/devmysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: password
      TZ: UTC
    ports:
      - 3306:3306
    command:
      - --mysql-native-password=ON
      - --default-time-zone=UTC
  redis:
    image: redis:latest
    restart: always
    command: redis-server
    ports:
      - 6379:6379
