service: waveLeaderboardSnapshotterLoop

package:
  artifact: dist/index.zip

plugins:
  - serverless-offline

provider:
  name: aws
  runtime: nodejs22.x
  memorySize: 512
  timeout: 900
  architecture: arm64
  logRetentionInDays: 60

custom:
  chainIDs:
    staging: 1
    prod: 1

functions:
  waveLeaderboardSnapshotterLoop:
    handler: index.handler
    name: waveLeaderboardSnapshotterLoop
    description: ${env:VERSION_DESCRIPTION}
    role: arn:aws:iam::987989283142:role/lambda-vpc-role
    reservedConcurrency: 1
    events:
      - schedule: rate(5 minutes)
    vpc:
      securityGroupIds: ${file(../../serverless-config/${opt:stage, self:provider.stage}/vpc.js):security}
      subnetIds: ${file(../../serverless-config/${opt:stage, self:provider.stage}/vpc.js):subnets}
    environment:
      SENTRY_DSN: ${env:SENTRY_DSN}
      SENTRY_ENVIRONMENT: 'waveLeaderboardSnapshotterLoop_${opt:stage, self:provider.stage}'
      
resources:
  Resources:
    WaveLeaderboardSnapshotterLoopOOMFilter:
      Type: AWS::Logs::MetricFilter
      Properties:
        LogGroupName: /aws/lambda/waveLeaderboardSnapshotterLoop
        FilterPattern: "Runtime.OutOfMemory"
        MetricTransformations:
          - MetricNamespace: "Lambda/OOM"
            MetricName: "waveLeaderboardSnapshotterLoop_OOMErrorCount"
            MetricValue: "1"
            DefaultValue: 0

    WaveLeaderboardSnapshotterLoopOOMAlarm:
      Type: AWS::CloudWatch::Alarm
      DependsOn: WaveLeaderboardSnapshotterLoopOOMFilter
      Properties:
        AlarmName: !Sub "${AWS::StackName}-waveLeaderboardSnapshotterLoop-OOM"
        AlarmDescription: !Sub "Lambda waveLeaderboardSnapshotterLoop OutOfMemory in ${AWS::Region}"
        Namespace: "Lambda/OOM"
        MetricName: "waveLeaderboardSnapshotterLoop_OOMErrorCount"
        Statistic: Sum
        Period: 60
        EvaluationPeriods: 1
        Threshold: 1
        ComparisonOperator: GreaterThanOrEqualToThreshold
        TreatMissingData: notBreaching
        AlarmActions:
          - ${file(../../serverless-config/${opt:stage, self:provider.stage}/vpc.js):cwtopic}
        OKActions:
          - ${file(../../serverless-config/${opt:stage, self:provider.stage}/vpc.js):cwtopic}