service: subscriptionsTopUpLoop

package:
  artifact: dist/index.zip

plugins:
  - serverless-offline

provider:
  name: aws
  runtime: nodejs18.x
  memorySize: 1024
  timeout: 900
  architecture: arm64
  logRetentionInDays: 60

custom:
  disableDiscord:
    staging: true
    prod: false

functions:
  subscriptionsTopUpLoop:
    handler: index.handler
    name: subscriptionsTopUpLoop
    description: ${env:VERSION_DESCRIPTION}
    role: arn:aws:iam::987989283142:role/lambda-vpc-role
    reservedConcurrency: 1
    events:
      - schedule: rate(1 minute)
    vpc:
      securityGroupIds: ${file(../../serverless-config/${opt:stage, self:provider.stage}/vpc.js):security}
      subnetIds: ${file(../../serverless-config/${opt:stage, self:provider.stage}/vpc.js):subnets}
    environment:
      SENTRY_DSN: ${env:SENTRY_DSN}
      SENTRY_ENVIRONMENT: 'subscriptionsTopUpLoop_${opt:stage, self:provider.stage}'
      SUBSCRIPTIONS_CHAIN_ID: ${self:custom.chainIDs.${opt:stage, self:provider.stage}, 1}
      SUBSCRIPTIONS_RESET: false
      DISABLE_DISCORD_NOTIFICATIONS: ${self:custom.disableDiscord.${opt:stage, self:provider.stage}, false}

resources:
  Resources:
    SubscriptionsTopUpLoopOOMFilter:
      Type: AWS::Logs::MetricFilter
      Properties:
        LogGroupName: /aws/lambda/subscriptionsTopUpLoop
        FilterPattern: "Runtime.OutOfMemory"
        MetricTransformations:
          - MetricNamespace: "Lambda/OOM"
            MetricName: "subscriptionsTopUpLoop_OOMErrorCount"
            MetricValue: "1"
            DefaultValue: 0

    SubscriptionsTopUpLoopOOMAlarm:
      Type: AWS::CloudWatch::Alarm
      DependsOn: SubscriptionsTopUpLoopOOMFilter
      Properties:
        AlarmName: !Sub "${AWS::StackName}-subscriptionsTopUpLoop-OOM"
        AlarmDescription: !Sub "Lambda subscriptionsTopUpLoop OutOfMemory in ${AWS::Region}"
        Namespace: "Lambda/OOM"
        MetricName: "subscriptionsTopUpLoop_OOMErrorCount"
        Statistic: Sum
        Period: 60
        EvaluationPeriods: 1
        Threshold: 1
        ComparisonOperator: GreaterThanOrEqualToThreshold
        TreatMissingData: notBreaching
        AlarmActions:
          - ${file(../../serverless-config/${opt:stage, self:provider.stage}/vpc.js):cwtopic}
        OKActions:
          - ${file(../../serverless-config/${opt:stage, self:provider.stage}/vpc.js):cwtopic}