service: nftsLoop

package:
  artifact: dist/index.zip

plugins:
  - serverless-offline

provider:
  name: aws
  runtime: nodejs22.x
  memorySize: 1536
  timeout: 900
  architecture: arm64
  logRetentionInDays: 60

functions:
  nftsLoop:
    handler: index.handler
    name: nftsLoop
    description: ${env:VERSION_DESCRIPTION}
    role: arn:aws:iam::987989283142:role/lambda-vpc-role
    reservedConcurrency: 1
    events:
      - schedule:
          rate: rate(1 minute)
          input:
            mode: 'discover'
      - schedule:
          rate: rate(10 minutes)
          input:
            mode: 'refresh'

    vpc:
      securityGroupIds: ${file(../../serverless-config/${opt:stage, self:provider.stage}/vpc.js):security}
      subnetIds: ${file(../../serverless-config/${opt:stage, self:provider.stage}/vpc.js):subnets}
    environment:
      SENTRY_DSN: ${env:SENTRY_DSN}
      SENTRY_ENVIRONMENT: 'nftsLoop_${opt:stage, self:provider.stage}'

resources:
  Resources:
    NftsLoopOOMFilter:
      Type: AWS::Logs::MetricFilter
      Properties:
        LogGroupName: /aws/lambda/nftsLoop
        FilterPattern: "Runtime.OutOfMemory"
        MetricTransformations:
          - MetricNamespace: "Lambda/OOM"
            MetricName: "nftsLoop_OOMErrorCount"
            MetricValue: "1"
            DefaultValue: 0

    NftsLoopOOMAlarm:
      Type: AWS::CloudWatch::Alarm
      DependsOn: NftsLoopOOMFilter
      Properties:
        AlarmName: !Sub "${AWS::StackName}-nftsLoop-OOM"
        AlarmDescription: !Sub "Lambda nftsLoop OutOfMemory in ${AWS::Region}"
        Namespace: "Lambda/OOM"
        MetricName: "nftsLoop_OOMErrorCount"
        Statistic: Sum
        Period: 60
        EvaluationPeriods: 1
        Threshold: 1
        ComparisonOperator: GreaterThanOrEqualToThreshold
        TreatMissingData: notBreaching
        AlarmActions:
          - ${file(../../serverless-config/${opt:stage, self:provider.stage}/vpc.js):cwtopic}
        OKActions:
          - ${file(../../serverless-config/${opt:stage, self:provider.stage}/vpc.js):cwtopic}