service: dropVideoConversionInvokerLoop
frameworkVersion: '3'

package:
  artifact: dist/index.zip

plugins:
  - serverless-offline

provider:
  name: aws
  region: eu-west-1
  runtime: nodejs22.x
  memorySize: 1024
  timeout: 900
  role: arn:aws:iam::987989283142:role/lambda-vpc-role
  architecture: arm64
  logRetentionInDays: 60

functions:
  dropVideoConversionInvokerLoop:
    handler: index.handler
    name: dropVideoConversionInvokerLoop
    description: ${env:VERSION_DESCRIPTION}

    vpc:
      securityGroupIds: ${file(../../serverless-config/${opt:stage, self:provider.stage}/vpc.js):security}
      subnetIds:        ${file(../../serverless-config/${opt:stage, self:provider.stage}/vpc.js):subnets}

    environment:
      SENTRY_DSN:         ${env:SENTRY_DSN}
      SENTRY_ENVIRONMENT: "dropVideoConversionInvokerLoop_${opt:stage, self:provider.stage}"
      S3_BUCKET:          6529bucket
      BUCKET_REGION:      eu-west-1
      MC_DROPS_VIDEO_TEMPLATE_NAME: Drops_HLS_MP4_360_720

resources:
  Resources:

    DropsVideoCreatedRule:
      Type: AWS::Events::Rule
      Properties:
        Name: DropsVideoCreated-${opt:stage, self:provider.stage}
        EventBusName: default
        EventPattern:
          source:
            - aws.s3
          detail-type:
            - Object Created
          detail:
            bucket:
              name:
                - 6529bucket
            object:
              key:
                - prefix: drops/
        Targets:
          - Id: LambdaTarget
            Arn:
              Fn::GetAtt: [DropVideoConversionInvokerLoopLambdaFunction, Arn]

    AllowEventsToInvokeDropVideoConversion:
      Type: AWS::Lambda::Permission
      Properties:
        FunctionName:
          Fn::GetAtt: [DropVideoConversionInvokerLoopLambdaFunction, Arn]
        Action: lambda:InvokeFunction
        Principal: events.amazonaws.com
        SourceArn:
          Fn::GetAtt: [DropsVideoCreatedRule, Arn]
          
    DropVideoConversionInvokerLoopOOMFilter:
      Type: AWS::Logs::MetricFilter
      Properties:
        LogGroupName: /aws/lambda/dropVideoConversionInvokerLoop
        FilterPattern: "Runtime.OutOfMemory"
        MetricTransformations:
          - MetricNamespace: "Lambda/OOM"
            MetricName: "dropVideoConversionInvokerLoop_OOMErrorCount"
            MetricValue: "1"
            DefaultValue: 0

    DropVideoConversionInvokerLoopOOMAlarm:
      Type: AWS::CloudWatch::Alarm
      DependsOn: DropVideoConversionInvokerLoopOOMFilter
      Properties:
        AlarmName: !Sub "${AWS::StackName}-dropVideoConversionInvokerLoop-OOM"
        AlarmDescription: !Sub "Lambda dropVideoConversionInvokerLoop OutOfMemory in ${AWS::Region}"
        Namespace: "Lambda/OOM"
        MetricName: "dropVideoConversionInvokerLoop_OOMErrorCount"
        Statistic: Sum
        Period: 60
        EvaluationPeriods: 1
        Threshold: 1
        ComparisonOperator: GreaterThanOrEqualToThreshold
        TreatMissingData: notBreaching
        AlarmActions:
          - ${file(../../serverless-config/${opt:stage, self:provider.stage}/vpc.js):cwtopic}
        OKActions:
          - ${file(../../serverless-config/${opt:stage, self:provider.stage}/vpc.js):cwtopic}