service: dbDumpsDaily

package:
  artifact: dist/index.zip

plugins:
  - serverless-offline

provider:
  name: aws
  runtime: nodejs22.x
  memorySize: 4096
  timeout: 900
  architecture: arm64
  logRetentionInDays: 60

functions:
  dbDumpsDaily:
    handler: index.handler
    name: dbDumpsDaily
    description: ${env:VERSION_DESCRIPTION}
    role: arn:aws:iam::987989283142:role/lambda-vpc-role
    reservedConcurrency: 1
    events:
      - schedule: cron(0 1 * * ? *)
    vpc:
      securityGroupIds: ${file(../../serverless-config/${opt:stage, self:provider.stage}/vpc.js):security}
      subnetIds: ${file(../../serverless-config/${opt:stage, self:provider.stage}/vpc.js):subnets}
    environment:
      SENTRY_DSN: ${env:SENTRY_DSN}
      SENTRY_ENVIRONMENT: 'dbDumpsDaily_${opt:stage, self:provider.stage}'

resources:
  Resources:
    DbDumpsDailyOOMFilter:
      Type: AWS::Logs::MetricFilter
      Properties:
        LogGroupName: /aws/lambda/dbDumpsDaily
        FilterPattern: "Runtime.OutOfMemory"
        MetricTransformations:
          - MetricNamespace: "Lambda/OOM"
            MetricName: "dbDumpsDaily_OOMErrorCount"
            MetricValue: "1"
            DefaultValue: 0

    DbDumpsDailyOOMAlarm:
      Type: AWS::CloudWatch::Alarm
      DependsOn: DbDumpsDailyOOMFilter
      Properties:
        AlarmName: !Sub "${AWS::StackName}-dbDumpsDaily-OOM"
        AlarmDescription: !Sub "Lambda dbDumpsDaily OutOfMemory in ${AWS::Region}"
        Namespace: "Lambda/OOM"
        MetricName: "dbDumpsDaily_OOMErrorCount"
        Statistic: Sum
        Period: 60
        EvaluationPeriods: 1
        Threshold: 1
        ComparisonOperator: GreaterThanOrEqualToThreshold
        TreatMissingData: notBreaching
        AlarmActions:
          - ${file(../../serverless-config/${opt:stage, self:provider.stage}/vpc.js):cwtopic}
        OKActions:
          - ${file(../../serverless-config/${opt:stage, self:provider.stage}/vpc.js):cwtopic}