service: s3Loop

package:
  artifact: dist/index.zip

plugins:
  - serverless-offline

provider:
  name: aws
  runtime: nodejs22.x
  memorySize: 5120
  timeout: 900
  logRetentionInDays: 60

functions:
  s3Loop:
    handler: index.handler
    name: s3Loop
    description: ${env:VERSION_DESCRIPTION}
    role: arn:aws:iam::987989283142:role/lambda-vpc-role
    reservedConcurrency: 1
    events:
      - schedule: rate(5 minutes)
    vpc:
      securityGroupIds: ${file(../../serverless-config/${opt:stage, self:provider.stage}/vpc.js):security}
      subnetIds: ${file(../../serverless-config/${opt:stage, self:provider.stage}/vpc.js):subnets}
    environment:
      SENTRY_DSN: ${env:SENTRY_DSN}
      SENTRY_ENVIRONMENT: 's3Loop_${opt:stage, self:provider.stage}'

resources:
  Resources:
    S3LoopOOMFilter:
      Type: AWS::Logs::MetricFilter
      Properties:
        LogGroupName: /aws/lambda/s3Loop
        FilterPattern: "Runtime.OutOfMemory"
        MetricTransformations:
          - MetricNamespace: "Lambda/OOM"
            MetricName: "s3Loop_OOMErrorCount"
            MetricValue: "1"
            DefaultValue: 0

    S3LoopOOMAlarm:
      Type: AWS::CloudWatch::Alarm
      DependsOn: S3LoopOOMFilter
      Properties:
        AlarmName: !Sub "${AWS::StackName}-s3Loop-OOM"
        AlarmDescription: !Sub "Lambda s3Loop OutOfMemory in ${AWS::Region}"
        Namespace: "Lambda/OOM"
        MetricName: "s3Loop_OOMErrorCount"
        Statistic: Sum
        Period: 60
        EvaluationPeriods: 1
        Threshold: 1
        ComparisonOperator: GreaterThanOrEqualToThreshold
        TreatMissingData: notBreaching
        AlarmActions:
          - ${file(../../serverless-config/${opt:stage, self:provider.stage}/vpc.js):cwtopic}
        OKActions:
          - ${file(../../serverless-config/${opt:stage, self:provider.stage}/vpc.js):cwtopic}
