service: waveDecisionExecutionLoop

package:
  artifact: dist/index.zip

plugins:
  - serverless-offline

provider:
  name: aws
  runtime: nodejs22.x
  memorySize: 1024
  timeout: 900
  architecture: arm64
  logRetentionInDays: 60

custom:
  chainIDs:
    staging: 1
    prod: 1

functions:
  waveDecisionExecutionLoop:
    handler: index.handler
    name: waveDecisionExecutionLoop
    description: ${env:VERSION_DESCRIPTION}
    role: arn:aws:iam::987989283142:role/lambda-vpc-role
    reservedConcurrency: 1
    events:
      - schedule: rate(1 minute)
    vpc:
      securityGroupIds: ${file(../../serverless-config/${opt:stage, self:provider.stage}/vpc.js):security}
      subnetIds: ${file(../../serverless-config/${opt:stage, self:provider.stage}/vpc.js):subnets}
    environment:
      SENTRY_DSN: ${env:SENTRY_DSN}
      SENTRY_ENVIRONMENT: 'waveDecisionExecutionLoop_${opt:stage, self:provider.stage}'
      CLAIMS_BUILDER_SNS: arn:aws:sns:${file(../../serverless-config/${opt:stage, self:provider.stage}/vpc.js):region}:987989283142:claims-builder
      
resources:
  Resources:
    WaveDecisionExecutionLoopOOMFilter:
      Type: AWS::Logs::MetricFilter
      Properties:
        LogGroupName: /aws/lambda/waveDecisionExecutionLoop
        FilterPattern: "Runtime.OutOfMemory"
        MetricTransformations:
          - MetricNamespace: "Lambda/OOM"
            MetricName: "waveDecisionExecutionLoop_OOMErrorCount"
            MetricValue: "1"
            DefaultValue: 0

    WaveDecisionExecutionLoopOOMAlarm:
      Type: AWS::CloudWatch::Alarm
      DependsOn: WaveDecisionExecutionLoopOOMFilter
      Properties:
        AlarmName: !Sub "${AWS::StackName}-waveDecisionExecutionLoop-OOM"
        AlarmDescription: !Sub "Lambda waveDecisionExecutionLoop OutOfMemory in ${AWS::Region}"
        Namespace: "Lambda/OOM"
        MetricName: "waveDecisionExecutionLoop_OOMErrorCount"
        Statistic: Sum
        Period: 60
        EvaluationPeriods: 1
        Threshold: 1
        ComparisonOperator: GreaterThanOrEqualToThreshold
        TreatMissingData: notBreaching
        AlarmActions:
          - ${file(../../serverless-config/${opt:stage, self:provider.stage}/vpc.js):cwtopic}
        OKActions:
          - ${file(../../serverless-config/${opt:stage, self:provider.stage}/vpc.js):cwtopic}
