service: marketStatsLoop

package:
  artifact: dist/index.zip

plugins:
  - serverless-offline

provider:
  name: aws
  runtime: nodejs22.x
  memorySize: 512
  timeout: 900
  architecture: arm64
  logRetentionInDays: 60

functions:
  marketStatsMEMES:
    handler: index.handler
    name: marketStatsMEMES
    description: ${env:VERSION_DESCRIPTION}
    role: arn:aws:iam::987989283142:role/lambda-vpc-role
    reservedConcurrency: 1
    events:
      - schedule: rate(10 minutes)
    vpc:
      securityGroupIds: ${file(../../serverless-config/${opt:stage, self:provider.stage}/vpc.js):security}
      subnetIds: ${file(../../serverless-config/${opt:stage, self:provider.stage}/vpc.js):subnets}
    environment:
      MARKET_STATS_CONTRACT: '0x33FD426905F149f8376e227d0C9D3340AaD17aF1'
      SENTRY_DSN: ${env:SENTRY_DSN}
      SENTRY_ENVIRONMENT: 'marketStatsMEMES_${opt:stage, self:provider.stage}'
  marketStatsLAB:
    handler: index.handler
    name: marketStatsLAB
    description: ${env:VERSION_DESCRIPTION}
    role: arn:aws:iam::987989283142:role/lambda-vpc-role
    reservedConcurrency: 1
    events:
      - schedule: rate(15 minutes)
    vpc:
      securityGroupIds: ${file(../../serverless-config/${opt:stage, self:provider.stage}/vpc.js):security}
      subnetIds: ${file(../../serverless-config/${opt:stage, self:provider.stage}/vpc.js):subnets}
    environment:
      MARKET_STATS_CONTRACT: '0x4db52a61dc491e15a2f78f5ac001c14ffe3568cb'
      SENTRY_DSN: ${env:SENTRY_DSN}
      SENTRY_ENVIRONMENT: 'marketStatsLAB_${opt:stage, self:provider.stage}'
  marketStatsGRADIENT:
    handler: index.handler
    name: marketStatsGRADIENT
    description: ${env:VERSION_DESCRIPTION}
    role: arn:aws:iam::987989283142:role/lambda-vpc-role
    reservedConcurrency: 1
    events:
      - schedule: rate(30 minutes)
    vpc:
      securityGroupIds: ${file(../../serverless-config/${opt:stage, self:provider.stage}/vpc.js):security}
      subnetIds: ${file(../../serverless-config/${opt:stage, self:provider.stage}/vpc.js):subnets}
    environment:
      MARKET_STATS_CONTRACT: '0x0c58ef43ff3032005e472cb5709f8908acb00205'
      SENTRY_DSN: ${env:SENTRY_DSN}
      SENTRY_ENVIRONMENT: 'marketStatsGRADIENT_${opt:stage, self:provider.stage}'
  marketStatsNEXTGEN:
    handler: index.handler
    name: marketStatsNEXTGEN
    description: ${env:VERSION_DESCRIPTION}
    role: arn:aws:iam::987989283142:role/lambda-vpc-role
    reservedConcurrency: 1
    events:
      - schedule: rate(30 minutes)
    vpc:
      securityGroupIds: ${file(../../serverless-config/${opt:stage, self:provider.stage}/vpc.js):security}
      subnetIds: ${file(../../serverless-config/${opt:stage, self:provider.stage}/vpc.js):subnets}
    environment:
      MARKET_STATS_CONTRACT: 'NEXTGEN'
      SENTRY_DSN: ${env:SENTRY_DSN}
      SENTRY_ENVIRONMENT: 'marketStatsNEXTGEN_${opt:stage, self:provider.stage}'

resources:
  Resources:
    MarketStatsMEMESOOMFilter:
      Type: AWS::Logs::MetricFilter
      Properties:
        LogGroupName: /aws/lambda/marketStatsMEMES
        FilterPattern: 'Runtime.OutOfMemory'
        MetricTransformations:
          - MetricNamespace: 'Lambda/OOM'
            MetricName: 'marketStatsMEMES_OOMErrorCount'
            MetricValue: '1'
            DefaultValue: 0

    MarketStatsMEMESLoopOOMAlarm:
      Type: AWS::CloudWatch::Alarm
      DependsOn: MarketStatsMEMESOOMFilter
      Properties:
        AlarmName: !Sub '${AWS::StackName}-marketStatsMEMES-OOM'
        AlarmDescription: !Sub 'Lambda marketStatsMEMES OutOfMemory in ${AWS::Region}'
        Namespace: 'Lambda/OOM'
        MetricName: 'marketStatsMEMES_OOMErrorCount'
        Statistic: Sum
        Period: 60
        EvaluationPeriods: 1
        Threshold: 1
        ComparisonOperator: GreaterThanOrEqualToThreshold
        TreatMissingData: notBreaching
        AlarmActions:
          - ${file(../../serverless-config/${opt:stage, self:provider.stage}/vpc.js):cwtopic}
        OKActions:
          - ${file(../../serverless-config/${opt:stage, self:provider.stage}/vpc.js):cwtopic}

    MarketStatsLABOOMFilter:
      Type: AWS::Logs::MetricFilter
      Properties:
        LogGroupName: /aws/lambda/marketStatsLAB
        FilterPattern: 'Runtime.OutOfMemory'
        MetricTransformations:
          - MetricNamespace: 'Lambda/OOM'
            MetricName: 'marketStatsLAB_OOMErrorCount'
            MetricValue: '1'
            DefaultValue: 0

    MarketStatsLABOOMAlarm:
      Type: AWS::CloudWatch::Alarm
      DependsOn: MarketStatsLABOOMFilter
      Properties:
        AlarmName: !Sub '${AWS::StackName}-marketStatsLAB-OOM'
        AlarmDescription: !Sub 'Lambda marketStatsLAB OutOfMemory in ${AWS::Region}'
        Namespace: 'Lambda/OOM'
        MetricName: 'MarketStatsLAB_OOMErrorCount'
        Statistic: Sum
        Period: 60
        EvaluationPeriods: 1
        Threshold: 1
        ComparisonOperator: GreaterThanOrEqualToThreshold
        TreatMissingData: notBreaching
        AlarmActions:
          - ${file(../../serverless-config/${opt:stage, self:provider.stage}/vpc.js):cwtopic}
        OKActions:
          - ${file(../../serverless-config/${opt:stage, self:provider.stage}/vpc.js):cwtopic}

    MarketStatsGRADIENTOOMFilter:
      Type: AWS::Logs::MetricFilter
      Properties:
        LogGroupName: /aws/lambda/marketStatsGRADIENT
        FilterPattern: 'Runtime.OutOfMemory'
        MetricTransformations:
          - MetricNamespace: 'Lambda/OOM'
            MetricName: 'marketStatsGRADIENT_OOMErrorCount'
            MetricValue: '1'
            DefaultValue: 0

    MarketStatsGRADIENTOOMAlarm:
      Type: AWS::CloudWatch::Alarm
      DependsOn: MarketStatsGRADIENTOOMFilter
      Properties:
        AlarmName: !Sub '${AWS::StackName}-marketStatsGRADIENT-OOM'
        AlarmDescription: !Sub 'Lambda marketStatsGRADIENT OutOfMemory in ${AWS::Region}'
        Namespace: 'Lambda/OOM'
        MetricName: 'marketStatsGRADIENT_OOMErrorCount'
        Statistic: Sum
        Period: 60
        EvaluationPeriods: 1
        Threshold: 1
        ComparisonOperator: GreaterThanOrEqualToThreshold
        TreatMissingData: notBreaching
        AlarmActions:
          - ${file(../../serverless-config/${opt:stage, self:provider.stage}/vpc.js):cwtopic}
        OKActions:
          - ${file(../../serverless-config/${opt:stage, self:provider.stage}/vpc.js):cwtopic}

    MarketStatsNEXTGENOOMFilter:
      Type: AWS::Logs::MetricFilter
      Properties:
        LogGroupName: /aws/lambda/marketStatsNEXTGEN
        FilterPattern: 'Runtime.OutOfMemory'
        MetricTransformations:
          - MetricNamespace: 'Lambda/OOM'
            MetricName: 'marketStatsNEXTGEN_OOMErrorCount'
            MetricValue: '1'
            DefaultValue: 0

    MarketStatsNEXTGENOOMAlarm:
      Type: AWS::CloudWatch::Alarm
      DependsOn: MarketStatsNEXTGENOOMFilter
      Properties:
        AlarmName: !Sub '${AWS::StackName}-marketStatsNEXTGEN-OOM'
        AlarmDescription: !Sub 'Lambda marketStatsNEXTGEN OutOfMemory in ${AWS::Region}'
        Namespace: 'Lambda/OOM'
        MetricName: marketStatsNEXTGEN_OOMErrorCount"
        Statistic: Sum
        Period: 60
        EvaluationPeriods: 1
        Threshold: 1
        ComparisonOperator: GreaterThanOrEqualToThreshold
        TreatMissingData: notBreaching
        AlarmActions:
          - ${file(../../serverless-config/${opt:stage, self:provider.stage}/vpc.js):cwtopic}
        OKActions:
          - ${file(../../serverless-config/${opt:stage, self:provider.stage}/vpc.js):cwtopic}
