service: pushNotificationsHandler

package:
  artifact: dist/index.zip

plugins:
  - serverless-offline

provider:
  name: aws
  runtime: nodejs22.x
  memorySize: 1024
  timeout: 60
  architecture: arm64
  logRetentionInDays: 60

functions:
  pushNotificationsHandler:
    handler: index.handler
    name: pushNotificationsHandler
    description: ${env:VERSION_DESCRIPTION}
    role: arn:aws:iam::987989283142:role/lambda-vpc-role
    reservedConcurrency: 20
    events:
      - sqs:
          arn:
            Fn::GetAtt: [FirebasePushNotificationsQueue, Arn]
          batchSize: 1
    vpc:
      securityGroupIds: ${file(../../serverless-config/${opt:stage, self:provider.stage}/vpc.js):security}
      subnetIds: ${file(../../serverless-config/${opt:stage, self:provider.stage}/vpc.js):subnets}
    environment:
      SENTRY_DSN: ${env:SENTRY_DSN}
      SENTRY_ENVIRONMENT: 'pushNotificationsHandler_${opt:stage, self:provider.stage}'

resources:
  Resources:
    FirebasePushNotificationsQueue:
      Type: AWS::SQS::Queue
      Properties:
        QueueName: firebase-push-notifications
        VisibilityTimeout: 60
        DelaySeconds: 3
        RedrivePolicy:
          deadLetterTargetArn:
            Fn::GetAtt: [FirebasePushNotificationsDLQ, Arn]
          maxReceiveCount: 10

    FirebasePushNotificationsDLQ:
      Type: AWS::SQS::Queue
      Properties:
        QueueName: firebase-push-notifications-dlq

    PushNotificationsHandlerOOMFilter:
      Type: AWS::Logs::MetricFilter
      Properties:
        LogGroupName: /aws/lambda/pushNotificationsHandler
        FilterPattern: "Runtime.OutOfMemory"
        MetricTransformations:
          - MetricNamespace: "Lambda/OOM"
            MetricName: "pushNotificationsHandler_OOMErrorCount"
            MetricValue: "1"
            DefaultValue: 0

    PushNotificationsHandlerOOMAlarm:
      Type: AWS::CloudWatch::Alarm
      DependsOn: PushNotificationsHandlerOOMFilter
      Properties:
        AlarmName: !Sub "${AWS::StackName}-pushNotificationsHandler-OOM"
        AlarmDescription: !Sub "Lambda pushNotificationsHandler OutOfMemory in ${AWS::Region}"
        Namespace: "Lambda/OOM"
        MetricName: "pushNotificationsHandler_OOMErrorCount"
        Statistic: Sum
        Period: 60
        EvaluationPeriods: 1
        Threshold: 1
        ComparisonOperator: GreaterThanOrEqualToThreshold
        TreatMissingData: notBreaching
        AlarmActions:
          - ${file(../../serverless-config/${opt:stage, self:provider.stage}/vpc.js):cwtopic}
        OKActions:
          - ${file(../../serverless-config/${opt:stage, self:provider.stage}/vpc.js):cwtopic}