service: transactionsProcessingLoop

package:
  artifact: dist/index.zip

plugins:
  - serverless-offline

provider:
  name: aws
  runtime: nodejs22.x
  memorySize: 512
  timeout: 900
  architecture: arm64
  logRetentionInDays: 60

custom:
  disableDiscord:
    staging: true
    prod: false

functions:
  transactionsProcessingLoop:
    handler: index.handler
    name: transactionsProcessingLoop
    role: arn:aws:iam::987989283142:role/lambda-vpc-role
    reservedConcurrency: 1
    events:
      - schedule: rate(1 minute)
    vpc:
      securityGroupIds: ${file(../../serverless-config/${opt:stage, self:provider.stage}/vpc.js):security}
      subnetIds: ${file(../../serverless-config/${opt:stage, self:provider.stage}/vpc.js):subnets}
    environment:
      SENTRY_DSN: ${env:SENTRY_DSN}
      SENTRY_ENVIRONMENT: 'transactionsProcessingLoop_${opt:stage, self:provider.stage}'
      TRANSACTIONS_PROCESSING_RESET: false
      DISABLE_DISCORD_NOTIFICATIONS: ${self:custom.disableDiscord.${opt:stage, self:provider.stage}, false}

resources:
  Resources:
    TransactionsProcessingLoopOOMFilter:
      Type: AWS::Logs::MetricFilter
      Properties:
        LogGroupName: /aws/lambda/transactionsProcessingLoop
        FilterPattern: "Runtime.OutOfMemory"
        MetricTransformations:
          - MetricNamespace: "Lambda/OOM"
            MetricName: "transactionsProcessingLoop_OOMErrorCount"
            MetricValue: "1"
            DefaultValue: 0

    TransactionsProcessingLoopOOMAlarm:
      Type: AWS::CloudWatch::Alarm
      DependsOn: TransactionsProcessingLoopOOMFilter
      Properties:
        AlarmName: !Sub "${AWS::StackName}-transactionsProcessingLoop-OOM"
        AlarmDescription: !Sub "Lambda transactionsProcessingLoop OutOfMemory in ${AWS::Region}"
        Namespace: "Lambda/OOM"
        MetricName: "transactionsProcessingLoop_OOMErrorCount"
        Statistic: Sum
        Period: 60
        EvaluationPeriods: 1
        Threshold: 1
        ComparisonOperator: GreaterThanOrEqualToThreshold
        TreatMissingData: notBreaching
        AlarmActions:
          - ${file(../../serverless-config/${opt:stage, self:provider.stage}/vpc.js):cwtopic}
        OKActions:
          - ${file(../../serverless-config/${opt:stage, self:provider.stage}/vpc.js):cwtopic}