name: Build backend and API on pull request

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Build backend and API
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install dependencies
        run: npm ci && pushd src/api-serverless && npm ci && popd
      - name: Lint
        run: |
          npm run lint -- --max-warnings=0
          git diff --exit-code
      - name: Format
        run: |
          npm run format
          git diff --exit-code
      - name: Build backend
        run: npm run build
      - name: Build API
        run: pushd src/api-serverless && npm run build && popd
